{% extends "product/base.html" %}
{% block contect %}

<div class="col-sm-8 col-sm-offset-5">
{% if empty %}
<h1> style="text-align: center">{{ empty_message }}</h1>
{% else %}

    <table class="table">
        <tr>
            <th> Product Photo</th>
            <th>Product</th>
            <th>Total Price</th>
        </tr>
        {% for item in cart.products.all %}
        <tr>
            <td><img style=" width: 30%" src="{{ item.image }}"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td><a href="{% url 'update_cart' item.slug %}"><img src="https://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/32/delete-icon.png"></a></td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <td>Total: {{cart.totle}}</td>
        </tr>
        </tfoot>

    </table>

{% endif %}
    </div>
{% endblock %}