{% extends "product/base.html" %}
{% block contect %}

<div class="col-sm-6 col-sm-offset-5">
{% if empty %}
<h3 style="text-align: center; margin: 60px 0px 320px ">{{ empty_message }}</h3>
{% else %}
    <table style="margin: 60px" class="table">
        <tr>
            <th> Product Photo</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Total Price</th>
        </tr>
        {% for item in cart.products.all %}
        <tr>
            <td><img style=" width: 18%" src="{{ item.image }}"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td><a href="{% url 'update_cart' item.slug %}"><img src="https://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/32/delete-icon.png"></a></td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <td>Total: {{cart.totle}}</td>
        </tr>
        </tfoot>

    </table>

{% endif %}
    </div>
{% endblock %}