{% extends 'product/base.html' %}
{% block contect %}
    <div style="background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fimage%2F2017%2F01%2Fmain%2Fmatcha-glazed-donuts.jpg%3Fitok%3DpXdFh2N6')
         ;background-repeat: no-repeat;background-size: cover;font-weight: bolder;">
     <div style=""><a href="{% url 'home' %}"><img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/64/back-icon.png"></a></div>
        <div style="padding: 30px 20% 85px 20%">
            <form action="/add_donuts_form_submission/" method="post">
                {% csrf_token %}

              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationServer01">Title</label>
                  <input type="text" name="title" placeholder="Title" class="form-control is-valid" >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationServer02">Price</label>
                  <input type="number" name="price" placeholder="Price" class="form-control is-valid"  >
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationServer01">Image</label>
                  <input type="text" name="image" placeholder="Image" class="form-control is-valid" >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationServer01">Quantity</label>
                  <input type="number" name="qty"  placeholder="Quantity" class="form-control is-valid" >
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationServer01">Description</label>
                  <input type="text" name="description" placeholder="Description"  class="form-control is-valid" >
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationServer01">Slug</label>
                  <input type="text" name="slug"  placeholder="Slug" class="form-control is-valid" >
                </div>
                <div style="margin-top:25px;padding-left: 40%">
                  <button class="btn btn-danger btn-lg" type="submit">Add Donuts</button>
                </div>
              </div>

              </div>
        </form>
        </div>
    </div>
{% endblock %}
