{% extends 'product/base.html' %}
{% block contect %}
    <div class="addForm">
        <form action="/add_donuts_form_submission/" method="post">
            {% csrf_token %}
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer01">Title</label>
              <input type="text" name="title" placeholder="Title" class="form-control is-valid" id="validationServer01">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationServer02">Price</label>
              <input type="number" name="price" placeholder="Price" class="form-control is-valid" id="validationServer02" value="Otto">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationServer03">Sale Price</label>
              <input type="number" name="sale_price" placeholder="sale price" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" >
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationServer04">Image</label>
                <input type="text" name="image" placeholder="image" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" >
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationServer05">Slug</label>
              <input type="text" name="slug" placeholder="slug" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" >
            </div>
              <div class="col-md-6 mb-3">
              <label for="validationServer01">Description</label>
              <input type="text" name="description" placeholder="Description" class="form-control is-valid" id="validationServer01" >
            </div>
              <div style="margin-top:25px; padding-left: 10px">
                  <button class="btn btn-danger btn-lg" type="submit">Add Donuts</button>
              </div>
          </div>
    </form>
    </div>
{% endblock %}
