{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >

    {% if title %}
        <title>Donuts App-{{ title }}</title>
    {% else %}
        <title>Donuts App</title>
    {% endif %}
</head>

<body>
  <nav  style="background-color: palevioletred;justify-content: space-between;">
        <ul class="sidebar-nav" style="justify-content: space-between;">
            <li><h2 style="color: lightpink"> Donuts</h2></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'index' %}">index</a></li>
            <li><a href="{% url 'add' %}">Add Donuts</a></li>
        </ul>
        <ul class="user-sidebar-nav" >
          <li><a href="{% url 'register' %}">register</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
        </ul>

  </nav>
  <div>
    {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-danger alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
{% block contect %}
 {% endblock %}
  <footer class="foot">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQHUzSwRb_fiziyfhzKDZOiOA-nOhjeMo6Xw&usqp=CAU" alt="icon">
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>