{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    {% if title %}
        <title>Donuts App-{{ title }}</title>
    {% else %}
        <title>Donuts App</title>
    {% endif %}
</head>
<body>
  <nav  style="display: flex;padding-top: 15px;background-color: #eec0c6;background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);;background-color: palevioletred;justify-content: space-between;">
        <ul class="sidebar-nav" style="justify-content: space-between;list-style: none;display: flex;">
            <li style=" padding-left: 20px;font-size: x-large;"><h1 style="color: #ffefef; font-weight: bolder ; font-size: xx-large"> Donuts</h1></li>
            <li style=" padding-left: 20px;font-size: x-large;" ><a  style="color: brown;" href="{% url 'home' %}"><h4 style="padding-top: 10px">Home</h4></a></li>
            <li style=" padding-left: 20px;font-size: x-large;" ><a style="color: brown;" href="{% url 'index' %}"><h4 style="padding-top: 10px">Menu</h4></a></li>
            <li style=" padding-left: 20px;font-size: x-large;" ><a style="color: brown;" href="{% url 'add' %}"><h4 style="padding-top: 10px">Add Donuts</h4></a></li>
        </ul>
        <ul style=" list-style: none;display: flex;padding-right: 20px;" class="user-sidebar-nav" >
          <li><a href="{% url 'register' %}"><h5 style="padding-top: 10px; color: brown; font-size: x-large">Register</h5></a></li>
            <li><a href="{% url 'login' %}"><h5 style="padding-top: 10px; padding-left: 10px; padding-top: 10px; color:brown; font-size: x-large">Login</h5></a></li>
            <li><a href="{% url 'logout' %}"><h5 style="padding-top: 10px; padding-left: 10px;padding-top: 10px; color: brown; font-size: x-large">Logout</h5></a></li>
            <li><a href="{% url 'cart' %}"><img style="padding-left: 10px" src="https://icons.iconarchive.com/icons/graphicloads/polygon/48/shopping-cart-icon.png"><small>{{request.session.items_total}}</small></a></li>
        </ul>
  </nav>
  <header>
      <div style="height: 50px; text-align: center; background-color: #ffefef;padding-top: 10px; color: #e58c8a " id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h5> Welcome To Donuts Lover Application!  </h5>
    </div>
    <div class="carousel-item">
      <h5>Free Delivery Orders Over $35</h5>
    </div>
      <div class="carousel-item">
      <h5> This Is Not Real Website </h5>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </header>
  <div>
    {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-danger alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
  </div>
  <div style="font-family: 'Times New Roman'">
      {% block contect %}
       {% endblock %}
  </div>
  <footer style="display: flex;background-color: #eec0c6;background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%); height: 130px;color: brown;" class="foot">
     <img style="width: 10%;height: 90%;padding-top: 20px; margin-left:10%;border-radius: 50%;" src="https://icons.iconarchive.com/icons/pixelkit/tasty-bites/128/donuts-icon.png" alt="icon">
      <ul style=" list-style: none;font-size: 1.3em;padding-left: 25%;padding-top: 20px;">
          <li>About Us</li>
          <li> FAQ</li>
          <li> Privacy Policy</li>
      </ul>
      <div>
          <ul class="footIcon" style="display: flex;padding-left:200%;padding-top: 40px;list-style: none;font-size: 1.3em;text-align: right;">
              <li style="list-style: none;display: inline;padding-left: 10px;padding-bottom: 20px;"> <a  href='https://www.hotmail.com'><img src= 'https://iconarchive.com/icons/custom-icon-design/mono-general-2/24/mail-icon.png' alt = ''/></a></li>
              <li style="list-style: none;display: inline;padding-left: 10px;padding-bottom: 20px;"> <a  href='https://www.linkedin.com/in/sali-m-aa7a95b4/' ><img src= 'https://iconarchive.com/icons/graphics-vibe/purple-glossy-social/24/linkedin-icon.png' alt = ''/></a> </li>
              <li style="list-style: none;display: inline;padding-left: 10px;padding-bottom: 20px;"><a href='https://github.com/sali73'><img src= 'https://iconarchive.com/icons/limav/flat-gradient-social/24/Github-icon.png' alt = ''/></a></li>
              <li style="list-style: none;display: inline;padding-left: 10px;padding-bottom: 20px;"><a href='https://www.facebook.com/'><img src= 'https://iconarchive.com/icons/designbolts/pink-girly-social/24/Active-Facebook-icon.png' alt = ''/></a></li>
          </ul>
  </footer>
  <div style=" color: #ffefef; font-weight: bolder ; font-size: x-large ; height: 60px; background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
; text-align: center;padding: 20px 0px; font-family: cursive">@2020 by <a href="https://salimohamed.me/">Sali Mohamed</a></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>