{% extends "product/base.html" %}
{% block contect %}
    <div class="donutsShow">
        <div>
           <img src="{{ data.image}}" alt="product imge">
        </div>
        <div>
            <h3>Donuts Name: {{ data.title }}</h3>
            <h4 style="font-weight: bolder;">Price: {{ data.price }}</h4>
            <h4 style="font-weight: bolder">Sale Price: {{ data.sale_price }}</h4>
            <h4>Quantity: {{data.qty}}</h4>
            <h5>Description: {{ data.description}}</h5>
        </div>
    </div>
{% endblock %}