{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
    {% block title %} <title>Donuts Lover</title>{% endblock %}

</head>
<body>
{% block content %}
<h1>Donuts App</h1>
{% endblock %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'index' %}">index</a></li>
            <li><a href="{% url 'add' %}">Add Donuts</a></li>
            <li><a href="{% url 'register' %}">register</a></li>
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
        </ul>
     {% endblock %}
      </div>
    </div>

</body>
</html>