{% extends 'product/base.html' %}
{% block contect %}
    {% for product in Product %}
        <div class="products" style=" display:flex; border: rosybrown 1px solid ; background-color: rosybrown ; padding: 20px ; margin: 20px">
            <div>
                <h4>Donuts: {{ product.title }}</h4>
                <h5>Price: {{ product.price }}</h5>
                <h5>Sale: {{ product.sale_price }}</h5>
                <h5>Description: {{ product.description}}</h5>
            </div>
            <div class="products-img">
                <img src="{{product.image}}" alt="donuts image" />
            </div>
        </div>
    {% endfor %}
{% endblock %}