{% extends "product/base.html" %}
{% block contect %}
    <div style="color: brown; padding: 70px ;height:500px;background-repeat: no-repeat;background-size: cover; background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fimage%2F2017%2F01%2Fmain%2Fmatcha-glazed-donuts.jpg%3Fitok%3DpXdFh2N6')" >
        <form method="POST">
        {% csrf_token %}
        <h4>{{form.as_p}}</h4>
            <br/><button  class="btn btn-lg btn-danger" type="submit">Login</button>
        </form>
       <big>Don't have an account?</big>  <a href="/register" target="blank"><strong>register here</strong></a>!
    </div>

{% endblock %}
